<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jorneymate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <header class="fixed-bottom">
        <div class="d-flex nav-button-container sticky-top justify-content-center">
            <div class="nav flex-row nav-pills mt-3 navbar-background-color nav-border" id="v-pills-tab" role="tablist">
                <a class="nav-link " id="tab_explore" asp-page="/Index" role="tab">
                    <div style="text-align: center;">
                        <img src="Img/Icon_Search.png" height="25" style="vertical-align: middle; margin-right: 5px;">
                        <br>
                        <span>Explorar</span>
                    </div>
                </a>
                <a class="nav-link" id="tab_lists" asp-page="/MyLists" role="tab">
                    <div style="text-align: center;">
                        <img src="Img/Icon_List.png" height="25" style="vertical-align: middle; margin-right: 5px;">
                        <br>
                        <span>Mis listas</span>
                    </div>
                </a>
                <a class="nav-link" id="v-pills-profile-tab"  asp-page="/NewRoutine" role="tab">
                    <div style="text-align: center;">
                        <img src="Img/Icon_Add.png" height="60" style="vertical-align: middle; margin-right: 5px;">
                    </div>
                </a>
                <a class="nav-link" id="v-pills-messages-tab"  asp-page="/LikedRoutines"
                    role="tab">
                    <div style="text-align: center;">
                        <img src="Img/Icon_Favorites.png" height="25"
                            style="vertical-align: middle; margin-right: 5px;">
                        <br>
                        <span>Mis favoritos</span>
                    </div>
                </a>
                <a class="nav-link" id="v-pills-settings-tab" asp-page="/Profile" role="tab">
                    <div style="text-align: center;">
                        <img src="Img/Icon_Profile.png" height="25" style="vertical-align: middle; margin-right: 5px;">
                        <br>
                        <span>Perfil</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Jorneymate - <a asp-area=""></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
