@page
@model Explorer
@{
    ViewData["Title"] = "Explorar rutinas";
}


<div class="card shadow" style="background-color: #f3f3f3;">
    <div class="card-body" style="margin-left: 10px;">
        <h4 class="card-title"> Parques para pasear perros</h4>
        <h5 class="card-subtitle fw-light">Xalapa, Mexico</h5>
        <P class="card-text" style="margin-top: 30px;"> Ejemplo de descripcion </P>
        <div class="d-flex">
            <h5 class="card-text fw-semibold" style="margin-top: 10px;">De: <span class="fw-light"> dpax </span> </h5>
            <img src="">
        </div>
    </div>
</div>