@page
@model Explorer
@{
    ViewData["Title"] = "Explorar rutinas";
}

<div>
    <h1 class="m-1">Explorar Rutinas</h1>
</div>


<div class="card shadow mt-3 ">
    <div class="card-body ms-4">
        <h4 class="card-title"> Parques para pasear perros</h4>
        <h5 class="card-subtitle fw-light">Xalapa, Mexico</h5>
        <P class="card-texts mt-4"> Ejemplo de descripcion </P>
        <div class="d-flex justify-content-center mt-4">
            <h5 class="card-text fw-semibold col-11" style="margin-top: 10px;">De: <span class="fw-light"> dpax </span> </h5>
            <div class="d-flex col-1 mt-3">
                <img src="/Img/Icon_LikesHeart.png" height="25">
                <p> 14 </p>
            </div>
        </div>
    </div>
</div>