@page
@model LikedRoutines
@{
    ViewData["Title"] = "Mis me gusta";
}


<div class="text-center">
    <h1 class="display-4">LikedRoutines</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
